TestCalculations/Connected Services/Calculator/Calculator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="f1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="f2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Subtrct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="f1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="f2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubtrctResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubtrctResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Multiply">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="f1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="f2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MultiplyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MultiplyResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Divide">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="f1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="f2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DivideResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DivideResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SqrRoot">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="f1" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SqrRootResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SqrRootResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ByTwo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="f1" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ByTwoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ByTwoResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ByFour">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="f1" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ByFourResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ByFourResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Neg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="f1" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NegResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NegResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="SubtrctSoapIn">
    <wsdl:part name="parameters" element="tns:Subtrct" />
  </wsdl:message>
  <wsdl:message name="SubtrctSoapOut">
    <wsdl:part name="parameters" element="tns:SubtrctResponse" />
  </wsdl:message>
  <wsdl:message name="MultiplySoapIn">
    <wsdl:part name="parameters" element="tns:Multiply" />
  </wsdl:message>
  <wsdl:message name="MultiplySoapOut">
    <wsdl:part name="parameters" element="tns:MultiplyResponse" />
  </wsdl:message>
  <wsdl:message name="DivideSoapIn">
    <wsdl:part name="parameters" element="tns:Divide" />
  </wsdl:message>
  <wsdl:message name="DivideSoapOut">
    <wsdl:part name="parameters" element="tns:DivideResponse" />
  </wsdl:message>
  <wsdl:message name="SqrRootSoapIn">
    <wsdl:part name="parameters" element="tns:SqrRoot" />
  </wsdl:message>
  <wsdl:message name="SqrRootSoapOut">
    <wsdl:part name="parameters" element="tns:SqrRootResponse" />
  </wsdl:message>
  <wsdl:message name="ByTwoSoapIn">
    <wsdl:part name="parameters" element="tns:ByTwo" />
  </wsdl:message>
  <wsdl:message name="ByTwoSoapOut">
    <wsdl:part name="parameters" element="tns:ByTwoResponse" />
  </wsdl:message>
  <wsdl:message name="ByFourSoapIn">
    <wsdl:part name="parameters" element="tns:ByFour" />
  </wsdl:message>
  <wsdl:message name="ByFourSoapOut">
    <wsdl:part name="parameters" element="tns:ByFourResponse" />
  </wsdl:message>
  <wsdl:message name="NegSoapIn">
    <wsdl:part name="parameters" element="tns:Neg" />
  </wsdl:message>
  <wsdl:message name="NegSoapOut">
    <wsdl:part name="parameters" element="tns:NegResponse" />
  </wsdl:message>
  <wsdl:portType name="CalculatorSoap">
    <wsdl:operation name="Add">
      <wsdl:input message="tns:AddSoapIn" />
      <wsdl:output message="tns:AddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Subtrct">
      <wsdl:input message="tns:SubtrctSoapIn" />
      <wsdl:output message="tns:SubtrctSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <wsdl:input message="tns:MultiplySoapIn" />
      <wsdl:output message="tns:MultiplySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <wsdl:input message="tns:DivideSoapIn" />
      <wsdl:output message="tns:DivideSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SqrRoot">
      <wsdl:input message="tns:SqrRootSoapIn" />
      <wsdl:output message="tns:SqrRootSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ByTwo">
      <wsdl:input message="tns:ByTwoSoapIn" />
      <wsdl:output message="tns:ByTwoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ByFour">
      <wsdl:input message="tns:ByFourSoapIn" />
      <wsdl:output message="tns:ByFourSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Neg">
      <wsdl:input message="tns:NegSoapIn" />
      <wsdl:output message="tns:NegSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalculatorSoap" type="tns:CalculatorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subtrct">
      <soap:operation soapAction="http://tempuri.org/Subtrct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <soap:operation soapAction="http://tempuri.org/Multiply" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <soap:operation soapAction="http://tempuri.org/Divide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SqrRoot">
      <soap:operation soapAction="http://tempuri.org/SqrRoot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ByTwo">
      <soap:operation soapAction="http://tempuri.org/ByTwo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ByFour">
      <soap:operation soapAction="http://tempuri.org/ByFour" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Neg">
      <soap:operation soapAction="http://tempuri.org/Neg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CalculatorSoap12" type="tns:CalculatorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://tempuri.org/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subtrct">
      <soap12:operation soapAction="http://tempuri.org/Subtrct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <soap12:operation soapAction="http://tempuri.org/Multiply" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <soap12:operation soapAction="http://tempuri.org/Divide" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SqrRoot">
      <soap12:operation soapAction="http://tempuri.org/SqrRoot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ByTwo">
      <soap12:operation soapAction="http://tempuri.org/ByTwo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ByFour">
      <soap12:operation soapAction="http://tempuri.org/ByFour" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Neg">
      <soap12:operation soapAction="http://tempuri.org/Neg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Calculator">
    <wsdl:port name="CalculatorSoap" binding="tns:CalculatorSoap">
      <soap:address location="http://localhost:59889/Calculator.asmx" />
    </wsdl:port>
    <wsdl:port name="CalculatorSoap12" binding="tns:CalculatorSoap12">
      <soap12:address location="http://localhost:59889/Calculator.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>